$icomoon-font-family: "noto-emoji-yellow-blobs" !default;
$icomoon-font-path: "../fonts" !default;

$android5-u1f60a-path1: "\e900";
$android5-u1f60a-path2: "\e901";
$android5-u1f60a-path3: "\e902";
$android5-u1f60a-path4: "\e903";
$android5-u1f60a-path5: "\e904";
$android5-u1f60a-path6: "\e905";
$android5-u1f60a-path7: "\e906";
$android5-u1f60a-path8: "\e907";
$android5-u1f60a-path9: "\e908";
$android5-u1f60a-path10: "\e909";
$android5-u1f60a-path11: "\e90a";
$android5-u1f60a-path12: "\e90b";
$android5-u1f60a-path13: "\e90c";
$android5-u1f60a-path14: "\e90d";
$android5-u1f60a-path15: "\e90e";
$android5-u1f60a-path16: "\e90f";
$android5-u1f60a-path17: "\e910";
$android5-u1f60a-path18: "\e911";
$android5-u1f60a-path19: "\e912";
$android5-u1f60a-path20: "\e913";
$android5-u1f60a-path21: "\e914";
$android5-u1f60a-path22: "\e915";
$android5-u1f60a-path23: "\e916";
$android5-u1f60a-path24: "\e917";
$android5-u1f60a-path25: "\e918";
$android5-u1f60a-path26: "\e919";
$android5-u1f60a-path27: "\e91a";
$android5-u1f60a-path28: "\e91b";
$android5-u1f60a-path29: "\e91c";
$android5-u1f60a-path30: "\e91d";
$android5-u1f60a-path31: "\e91e";
$android5-u1f60a-path32: "\e91f";
$android5-u1f60a-path33: "\e920";
$android5-u1f60a-path34: "\e921";
$android5-u1f60a-path35: "\e922";
$android5-u1f60a-path36: "\e923";
$android5-u1f60a-path37: "\e924";
$android5-u1f60a-path38: "\e925";
$android5-u1f60a-path39: "\e926";
$android5-u1f60a-path40: "\e927";
$android5-u1f60a-path41: "\e928";
$android5-u1f60a-path42: "\e929";
$android5-u1f60a-path43: "\e92a";
$android5-u1f60a-path44: "\e92b";
$android5-u1f60a-path45: "\e92c";
$android5-u1f60a-path46: "\e92d";
$android5-u1f60a-path47: "\e92e";
$android5-u1f60a-path48: "\e92f";
$android5-u1f60b-path1: "\e930";
$android5-u1f60b-path2: "\e931";
$android5-u1f60b-path3: "\e932";
$android5-u1f60b-path4: "\e933";
$android5-u1f60b-path5: "\e934";
$android5-u1f60c-path1: "\e935";
$android5-u1f60c-path2: "\e936";
$android5-u1f60c-path3: "\e937";
$android5-u1f60c-path4: "\e938";
$android5-u1f60d-path1: "\e939";
$android5-u1f60d-path2: "\e93a";
$android5-u1f60d-path3: "\e93b";
$android5-u1f60d-path4: "\e93c";
$android5-u1f60d-path5: "\e93d";
$android5-u1f60d-path6: "\e93e";
$android5-u1f60d-path7: "\e93f";
$android5-u1f60d-path8: "\e940";
$android5-u1f60d-path9: "\e941";
$android5-u1f60d-path10: "\e942";
$android5-u1f60d-path11: "\e943";
$android5-u1f60d-path12: "\e944";
$android5-u1f60d-path13: "\e945";
$android5-u1f60d-path14: "\e946";
$android5-u1f60d-path15: "\e947";
$android5-u1f60d-path16: "\e948";
$android5-u1f60d-path17: "\e949";
$android5-u1f60d-path18: "\e94a";
$android5-u1f60d-path19: "\e94b";
$android5-u1f60d-path20: "\e94c";
$android5-u1f60d-path21: "\e94d";
$android5-u1f60d-path22: "\e94e";
$android5-u1f60d-path23: "\e94f";
$android5-u1f60d-path24: "\e950";
$android5-u1f60d-path25: "\e951";
$android5-u1f60d-path26: "\e952";
$android5-u1f60d-path27: "\e953";
$android5-u1f60d-path28: "\e954";
$android5-u1f60d-path29: "\e955";
$android5-u1f60d-path30: "\e956";
$android5-u1f60d-path31: "\e957";
$android5-u1f60d-path32: "\e958";
$android5-u1f60d-path33: "\e959";
$android5-u1f60d-path34: "\e95a";
$android5-u1f60d-path35: "\e95b";
$android5-u1f60d-path36: "\e95c";
$android5-u1f60d-path37: "\e95d";
$android5-u1f60d-path38: "\e95e";
$android5-u1f60d-path39: "\e95f";
$android5-u1f60d-path40: "\e960";
$android5-u1f60d-path41: "\e961";
$android5-u1f60d-path42: "\e962";
$android5-u1f60d-path43: "\e963";
$android5-u1f60d-path44: "\e964";
$android5-u1f60d-path45: "\e965";
$android5-u1f60d-path46: "\e966";
$android5-u1f60d-path47: "\e967";
$android5-u1f60d-path48: "\e968";
$android5-u1f60e-path1: "\e969";
$android5-u1f60e-path2: "\e96a";
$android5-u1f60e-path3: "\e96b";
$android5-u1f60e-path4: "\e96c";
$android5-u1f60e-path5: "\e96d";
$android5-u1f60f-path1: "\e96e";
$android5-u1f60f-path2: "\e96f";
$android5-u1f60f-path3: "\e970";
$android5-u1f60f-path4: "\e971";
$android5-u1f60f-path5: "\e972";
$android5-u1f60f-path6: "\e973";
$android5-u1f61a-path1: "\e974";
$android5-u1f61a-path2: "\e975";
$android5-u1f61a-path3: "\e976";
$android5-u1f61a-path4: "\e977";
$android5-u1f61a-path5: "\e978";
$android5-u1f61a-path6: "\e979";
$android5-u1f61a-path7: "\e97a";
$android5-u1f61a-path8: "\e97b";
$android5-u1f61a-path9: "\e97c";
$android5-u1f61a-path10: "\e97d";
$android5-u1f61a-path11: "\e97e";
$android5-u1f61a-path12: "\e97f";
$android5-u1f61a-path13: "\e980";
$android5-u1f61a-path14: "\e981";
$android5-u1f61a-path15: "\e982";
$android5-u1f61a-path16: "\e983";
$android5-u1f61a-path17: "\e984";
$android5-u1f61a-path18: "\e985";
$android5-u1f61a-path19: "\e986";
$android5-u1f61a-path20: "\e987";
$android5-u1f61a-path21: "\e988";
$android5-u1f61a-path22: "\e989";
$android5-u1f61a-path23: "\e98a";
$android5-u1f61a-path24: "\e98b";
$android5-u1f61a-path25: "\e98c";
$android5-u1f61a-path26: "\e98d";
$android5-u1f61a-path27: "\e98e";
$android5-u1f61a-path28: "\e98f";
$android5-u1f61a-path29: "\e990";
$android5-u1f61a-path30: "\e991";
$android5-u1f61a-path31: "\e992";
$android5-u1f61a-path32: "\e993";
$android5-u1f61a-path33: "\e994";
$android5-u1f61a-path34: "\e995";
$android5-u1f61a-path35: "\e996";
$android5-u1f61a-path36: "\e997";
$android5-u1f61a-path37: "\e998";
$android5-u1f61a-path38: "\e999";
$android5-u1f61a-path39: "\e99a";
$android5-u1f61a-path40: "\e99b";
$android5-u1f61a-path41: "\e99c";
$android5-u1f61a-path42: "\e99d";
$android5-u1f61a-path43: "\e99e";
$android5-u1f61a-path44: "\e99f";
$android5-u1f61a-path45: "\e9a0";
$android5-u1f61a-path46: "\e9a1";
$android5-u1f61a-path47: "\e9a2";
$android5-u1f61a-path48: "\e9a3";
$android5-u1f61b-path1: "\e9a4";
$android5-u1f61b-path2: "\e9a5";
$android5-u1f61b-path3: "\e9a6";
$android5-u1f61b-path4: "\e9a7";
$android5-u1f61b-path5: "\e9a8";
$android5-u1f61c-path1: "\e9a9";
$android5-u1f61c-path2: "\e9aa";
$android5-u1f61c-path3: "\e9ab";
$android5-u1f61c-path4: "\e9ac";
$android5-u1f61c-path5: "\e9ad";
$android5-u1f61d-path1: "\e9ae";
$android5-u1f61d-path2: "\e9af";
$android5-u1f61d-path3: "\e9b0";
$android5-u1f61d-path4: "\e9b1";
$android5-u1f61d-path5: "\e9b2";
$android5-u1f61e-path1: "\e9b3";
$android5-u1f61e-path2: "\e9b4";
$android5-u1f61e-path3: "\e9b5";
$android5-u1f61e-path4: "\e9b6";
$android5-u1f61f-path1: "\e9b7";
$android5-u1f61f-path2: "\e9b8";
$android5-u1f61f-path3: "\e9b9";
$android5-u1f61f-path4: "\e9ba";
$android5-u1f61f-path5: "\e9bb";
$android5-u1f61f-path6: "\e9bc";
$android5-u1f62a-path1: "\e9bd";
$android5-u1f62a-path2: "\e9be";
$android5-u1f62a-path3: "\e9bf";
$android5-u1f62a-path4: "\e9c0";
$android5-u1f62a-path5: "\e9c1";
$android5-u1f62b-path1: "\e9c2";
$android5-u1f62b-path2: "\e9c3";
$android5-u1f62b-path3: "\e9c4";
$android5-u1f62b-path4: "\e9c5";
$android5-u1f62b-path5: "\e9c6";
$android5-u1f62d-path1: "\e9c7";
$android5-u1f62d-path2: "\e9c8";
$android5-u1f62d-path3: "\e9c9";
$android5-u1f62d-path4: "\e9ca";
$android5-u1f62d-path5: "\e9cb";
$android5-u1f62d-path6: "\e9cc";
$android5-u1f62d-path7: "\e9cd";
$android5-u1f62d-path8: "\e9ce";
$android5-u1f62e-path1: "\e9cf";
$android5-u1f62e-path2: "\e9d0";
$android5-u1f62e-path3: "\e9d1";
$android5-u1f62e-path4: "\e9d2";
$android5-u1f62f-path1: "\e9d3";
$android5-u1f62f-path2: "\e9d4";
$android5-u1f62f-path3: "\e9d5";
$android5-u1f62f-path4: "\e9d6";
$android5-u1f62f-path5: "\e9d7";
$android5-u1f603-path1: "\e9d8";
$android5-u1f603-path2: "\e9d9";
$android5-u1f603-path3: "\e9da";
$android5-u1f603-path4: "\e9db";
$android5-u1f604-path1: "\e9dc";
$android5-u1f604-path2: "\e9dd";
$android5-u1f604-path3: "\e9de";
$android5-u1f604-path4: "\e9df";
$android5-u1f604-path5: "\e9e0";
$android5-u1f604-path6: "\e9e1";
$android5-u1f604-path7: "\e9e2";
$android5-u1f604-path8: "\e9e3";
$android5-u1f604-path9: "\e9e4";
$android5-u1f604-path10: "\e9e5";
$android5-u1f604-path11: "\e9e6";
$android5-u1f604-path12: "\e9e7";
$android5-u1f604-path13: "\e9e8";
$android5-u1f604-path14: "\e9e9";
$android5-u1f604-path15: "\e9ea";
$android5-u1f604-path16: "\e9eb";
$android5-u1f604-path17: "\e9ec";
$android5-u1f604-path18: "\e9ed";
$android5-u1f604-path19: "\e9ee";
$android5-u1f604-path20: "\e9ef";
$android5-u1f604-path21: "\e9f0";
$android5-u1f604-path22: "\e9f1";
$android5-u1f604-path23: "\e9f2";
$android5-u1f604-path24: "\e9f3";
$android5-u1f604-path25: "\e9f4";
$android5-u1f604-path26: "\e9f5";
$android5-u1f604-path27: "\e9f6";
$android5-u1f604-path28: "\e9f7";
$android5-u1f604-path29: "\e9f8";
$android5-u1f604-path30: "\e9f9";
$android5-u1f604-path31: "\e9fa";
$android5-u1f604-path32: "\e9fb";
$android5-u1f604-path33: "\e9fc";
$android5-u1f604-path34: "\e9fd";
$android5-u1f604-path35: "\e9fe";
$android5-u1f604-path36: "\e9ff";
$android5-u1f604-path37: "\ea00";
$android5-u1f604-path38: "\ea01";
$android5-u1f604-path39: "\ea02";
$android5-u1f604-path40: "\ea03";
$android5-u1f604-path41: "\ea04";
$android5-u1f604-path42: "\ea05";
$android5-u1f604-path43: "\ea06";
$android5-u1f604-path44: "\ea07";
$android5-u1f604-path45: "\ea08";
$android5-u1f604-path46: "\ea09";
$android5-u1f604-path47: "\ea0a";
$android5-u1f604-path48: "\ea0b";
$android5-u1f605-path1: "\ea0c";
$android5-u1f605-path2: "\ea0d";
$android5-u1f605-path3: "\ea0e";
$android5-u1f605-path4: "\ea0f";
$android5-u1f605-path5: "\ea10";
$android5-u1f606-path1: "\ea11";
$android5-u1f606-path2: "\ea12";
$android5-u1f606-path3: "\ea13";
$android5-u1f606-path4: "\ea14";
$android5-u1f606-path5: "\ea15";
$android5-u1f606-path6: "\ea16";
$android5-u1f606-path7: "\ea17";
$android5-u1f606-path8: "\ea18";
$android5-u1f606-path9: "\ea19";
$android5-u1f606-path10: "\ea1a";
$android5-u1f606-path11: "\ea1b";
$android5-u1f606-path12: "\ea1c";
$android5-u1f606-path13: "\ea1d";
$android5-u1f606-path14: "\ea1e";
$android5-u1f606-path15: "\ea1f";
$android5-u1f606-path16: "\ea20";
$android5-u1f606-path17: "\ea21";
$android5-u1f606-path18: "\ea22";
$android5-u1f606-path19: "\ea23";
$android5-u1f606-path20: "\ea24";
$android5-u1f606-path21: "\ea25";
$android5-u1f606-path22: "\ea26";
$android5-u1f606-path23: "\ea27";
$android5-u1f606-path24: "\ea28";
$android5-u1f606-path25: "\ea29";
$android5-u1f606-path26: "\ea2a";
$android5-u1f606-path27: "\ea2b";
$android5-u1f606-path28: "\ea2c";
$android5-u1f606-path29: "\ea2d";
$android5-u1f606-path30: "\ea2e";
$android5-u1f606-path31: "\ea2f";
$android5-u1f606-path32: "\ea30";
$android5-u1f606-path33: "\ea31";
$android5-u1f606-path34: "\ea32";
$android5-u1f606-path35: "\ea33";
$android5-u1f606-path36: "\ea34";
$android5-u1f606-path37: "\ea35";
$android5-u1f606-path38: "\ea36";
$android5-u1f606-path39: "\ea37";
$android5-u1f606-path40: "\ea38";
$android5-u1f606-path41: "\ea39";
$android5-u1f606-path42: "\ea3a";
$android5-u1f606-path43: "\ea3b";
$android5-u1f606-path44: "\ea3c";
$android5-u1f606-path45: "\ea3d";
$android5-u1f606-path46: "\ea3e";
$android5-u1f606-path47: "\ea3f";
$android5-u1f606-path48: "\ea40";
$android5-u1f607-path1: "\ea41";
$android5-u1f607-path2: "\ea42";
$android5-u1f607-path3: "\ea43";
$android5-u1f607-path4: "\ea44";
$android5-u1f607-path5: "\ea45";
$android5-u1f608-path1: "\ea46";
$android5-u1f608-path2: "\ea47";
$android5-u1f608-path3: "\ea48";
$android5-u1f608-path4: "\ea49";
$android5-u1f608-path5: "\ea4a";
$android5-u1f608-path6: "\ea4b";
$android5-u1f608-path7: "\ea4c";
$android5-u1f608-path8: "\ea4d";
$android5-u1f609-path1: "\ea4e";
$android5-u1f609-path2: "\ea4f";
$android5-u1f609-path3: "\ea50";
$android5-u1f609-path4: "\ea51";
$android5-u1f610-path1: "\ea52";
$android5-u1f610-path2: "\ea53";
$android5-u1f610-path3: "\ea54";
$android5-u1f610-path4: "\ea55";
$android5-u1f611-path1: "\ea56";
$android5-u1f611-path2: "\ea57";
$android5-u1f611-path3: "\ea58";
$android5-u1f611-path4: "\ea59";
$android5-u1f612-path1: "\ea5a";
$android5-u1f612-path2: "\ea5b";
$android5-u1f612-path3: "\ea5c";
$android5-u1f612-path4: "\ea5d";
$android5-u1f613-path1: "\ea5e";
$android5-u1f613-path2: "\ea5f";
$android5-u1f613-path3: "\ea60";
$android5-u1f613-path4: "\ea61";
$android5-u1f613-path5: "\ea62";
$android5-u1f614-path1: "\ea63";
$android5-u1f614-path2: "\ea64";
$android5-u1f614-path3: "\ea65";
$android5-u1f614-path4: "\ea66";
$android5-u1f615-path1: "\ea67";
$android5-u1f615-path2: "\ea68";
$android5-u1f615-path3: "\ea69";
$android5-u1f615-path4: "\ea6a";
$android5-u1f615-path5: "\ea6b";
$android5-u1f616-path1: "\ea6c";
$android5-u1f616-path2: "\ea6d";
$android5-u1f616-path3: "\ea6e";
$android5-u1f616-path4: "\ea6f";
$android5-u1f617-path1: "\ea70";
$android5-u1f617-path2: "\ea71";
$android5-u1f617-path3: "\ea72";
$android5-u1f617-path4: "\ea73";
$android5-u1f618-path1: "\ea74";
$android5-u1f618-path2: "\ea75";
$android5-u1f618-path3: "\ea76";
$android5-u1f618-path4: "\ea77";
$android5-u1f618-path5: "\ea78";
$android5-u1f619-path1: "\ea79";
$android5-u1f619-path2: "\ea7a";
$android5-u1f619-path3: "\ea7b";
$android5-u1f619-path4: "\ea7c";
$android5-u1f620-path1: "\ea7d";
$android5-u1f620-path2: "\ea7e";
$android5-u1f620-path3: "\ea7f";
$android5-u1f620-path4: "\ea80";
$android5-u1f621-path1: "\ea81";
$android5-u1f621-path2: "\ea82";
$android5-u1f621-path3: "\ea83";
$android5-u1f621-path4: "\ea84";
$android5-u1f621-path5: "\ea85";
$android5-u1f621-path6: "\ea86";
$android5-u1f621-path7: "\ea87";
$android5-u1f621-path8: "\ea88";
$android5-u1f621-path9: "\ea89";
$android5-u1f621-path10: "\ea8a";
$android5-u1f621-path11: "\ea8b";
$android5-u1f621-path12: "\ea8c";
$android5-u1f621-path13: "\ea8d";
$android5-u1f621-path14: "\ea8e";
$android5-u1f621-path15: "\ea8f";
$android5-u1f621-path16: "\ea90";
$android5-u1f621-path17: "\ea91";
$android5-u1f621-path18: "\ea92";
$android5-u1f621-path19: "\ea93";
$android5-u1f621-path20: "\ea94";
$android5-u1f621-path21: "\ea95";
$android5-u1f621-path22: "\ea96";
$android5-u1f621-path23: "\ea97";
$android5-u1f621-path24: "\ea98";
$android5-u1f621-path25: "\ea99";
$android5-u1f621-path26: "\ea9a";
$android5-u1f621-path27: "\ea9b";
$android5-u1f621-path28: "\ea9c";
$android5-u1f621-path29: "\ea9d";
$android5-u1f621-path30: "\ea9e";
$android5-u1f621-path31: "\ea9f";
$android5-u1f621-path32: "\eaa0";
$android5-u1f621-path33: "\eaa1";
$android5-u1f621-path34: "\eaa2";
$android5-u1f621-path35: "\eaa3";
$android5-u1f621-path36: "\eaa4";
$android5-u1f621-path37: "\eaa5";
$android5-u1f621-path38: "\eaa6";
$android5-u1f621-path39: "\eaa7";
$android5-u1f621-path40: "\eaa8";
$android5-u1f621-path41: "\eaa9";
$android5-u1f621-path42: "\eaaa";
$android5-u1f621-path43: "\eaab";
$android5-u1f621-path44: "\eaac";
$android5-u1f621-path45: "\eaad";
$android5-u1f621-path46: "\eaae";
$android5-u1f621-path47: "\eaaf";
$android5-u1f621-path48: "\eab0";
$android5-u1f622-path1: "\eab1";
$android5-u1f622-path2: "\eab2";
$android5-u1f622-path3: "\eab3";
$android5-u1f622-path4: "\eab4";
$android5-u1f622-path5: "\eab5";
$android5-u1f623-path1: "\eab6";
$android5-u1f623-path2: "\eab7";
$android5-u1f623-path3: "\eab8";
$android5-u1f623-path4: "\eab9";
$android5-u1f623-path5: "\eaba";
$android5-u1f623-path6: "\eabb";
$android5-u1f623-path7: "\eabc";
$android5-u1f623-path8: "\eabd";
$android5-u1f623-path9: "\eabe";
$android5-u1f623-path10: "\eabf";
$android5-u1f623-path11: "\eac0";
$android5-u1f623-path12: "\eac1";
$android5-u1f623-path13: "\eac2";
$android5-u1f623-path14: "\eac3";
$android5-u1f623-path15: "\eac4";
$android5-u1f623-path16: "\eac5";
$android5-u1f623-path17: "\eac6";
$android5-u1f623-path18: "\eac7";
$android5-u1f623-path19: "\eac8";
$android5-u1f623-path20: "\eac9";
$android5-u1f623-path21: "\eaca";
$android5-u1f623-path22: "\eacb";
$android5-u1f623-path23: "\eacc";
$android5-u1f623-path24: "\eacd";
$android5-u1f623-path25: "\eace";
$android5-u1f623-path26: "\eacf";
$android5-u1f623-path27: "\ead0";
$android5-u1f623-path28: "\ead1";
$android5-u1f623-path29: "\ead2";
$android5-u1f623-path30: "\ead3";
$android5-u1f623-path31: "\ead4";
$android5-u1f623-path32: "\ead5";
$android5-u1f623-path33: "\ead6";
$android5-u1f623-path34: "\ead7";
$android5-u1f623-path35: "\ead8";
$android5-u1f623-path36: "\ead9";
$android5-u1f623-path37: "\eada";
$android5-u1f623-path38: "\eadb";
$android5-u1f623-path39: "\eadc";
$android5-u1f623-path40: "\eadd";
$android5-u1f623-path41: "\eade";
$android5-u1f623-path42: "\eadf";
$android5-u1f623-path43: "\eae0";
$android5-u1f623-path44: "\eae1";
$android5-u1f623-path45: "\eae2";
$android5-u1f623-path46: "\eae3";
$android5-u1f623-path47: "\eae4";
$android5-u1f623-path48: "\eae5";
$android5-u1f624-path1: "\eae6";
$android5-u1f624-path2: "\eae7";
$android5-u1f624-path3: "\eae8";
$android5-u1f624-path4: "\eae9";
$android5-u1f624-path5: "\eaea";
$android5-u1f624-path6: "\eaeb";
$android5-u1f624-path7: "\eaec";
$android5-u1f624-path8: "\eaed";
$android5-u1f624-path9: "\eaee";
$android5-u1f624-path10: "\eaef";
$android5-u1f624-path11: "\eaf0";
$android5-u1f624-path12: "\eaf1";
$android5-u1f624-path13: "\eaf2";
$android5-u1f624-path14: "\eaf3";
$android5-u1f624-path15: "\eaf4";
$android5-u1f624-path16: "\eaf5";
$android5-u1f624-path17: "\eaf6";
$android5-u1f624-path18: "\eaf7";
$android5-u1f624-path19: "\eaf8";
$android5-u1f624-path20: "\eaf9";
$android5-u1f624-path21: "\eafa";
$android5-u1f624-path22: "\eafb";
$android5-u1f624-path23: "\eafc";
$android5-u1f624-path24: "\eafd";
$android5-u1f624-path25: "\eafe";
$android5-u1f624-path26: "\eaff";
$android5-u1f624-path27: "\eb00";
$android5-u1f624-path28: "\eb01";
$android5-u1f624-path29: "\eb02";
$android5-u1f624-path30: "\eb03";
$android5-u1f624-path31: "\eb04";
$android5-u1f624-path32: "\eb05";
$android5-u1f624-path33: "\eb06";
$android5-u1f624-path34: "\eb07";
$android5-u1f624-path35: "\eb08";
$android5-u1f624-path36: "\eb09";
$android5-u1f624-path37: "\eb0a";
$android5-u1f624-path38: "\eb0b";
$android5-u1f624-path39: "\eb0c";
$android5-u1f624-path40: "\eb0d";
$android5-u1f624-path41: "\eb0e";
$android5-u1f624-path42: "\eb0f";
$android5-u1f624-path43: "\eb10";
$android5-u1f624-path44: "\eb11";
$android5-u1f624-path45: "\eb12";
$android5-u1f624-path46: "\eb13";
$android5-u1f624-path47: "\eb14";
$android5-u1f624-path48: "\eb15";
$android5-u1f624-path49: "\eb16";
$android5-u1f624-path50: "\eb17";
$android5-u1f625-path1: "\eb18";
$android5-u1f625-path2: "\eb19";
$android5-u1f625-path3: "\eb1a";
$android5-u1f625-path4: "\eb1b";
$android5-u1f625-path5: "\eb1c";
$android5-u1f626-path1: "\eb1d";
$android5-u1f626-path2: "\eb1e";
$android5-u1f626-path3: "\eb1f";
$android5-u1f626-path4: "\eb20";
$android5-u1f626-path5: "\eb21";
$android5-u1f626-path6: "\eb22";
$android5-u1f627-path1: "\eb23";
$android5-u1f627-path2: "\eb24";
$android5-u1f627-path3: "\eb25";
$android5-u1f627-path4: "\eb26";
$android5-u1f627-path5: "\eb27";
$android5-u1f627-path6: "\eb28";
$android5-u1f627-path7: "\eb29";
$android5-u1f628-path1: "\eb2a";
$android5-u1f628-path2: "\eb2b";
$android5-u1f628-path3: "\eb2c";
$android5-u1f628-path4: "\eb2d";
$android5-u1f628-path5: "\eb2e";
$android5-u1f628-path6: "\eb2f";
$android5-u1f628-path7: "\eb30";
$android5-u1f629-path1: "\eb31";
$android5-u1f629-path2: "\eb32";
$android5-u1f629-path3: "\eb33";
$android5-u1f629-path4: "\eb34";
$android5-u1f630-path1: "\eb35";
$android5-u1f630-path2: "\eb36";
$android5-u1f630-path3: "\eb37";
$android5-u1f630-path4: "\eb38";
$android5-u1f630-path5: "\eb39";
$android5-u1f630-path6: "\eb3a";
$android5-u1f630-path7: "\eb3b";
$android5-u1f631-path1: "\eb3c";
$android5-u1f631-path2: "\eb3d";
$android5-u1f631-path3: "\eb3e";
$android5-u1f631-path4: "\eb3f";
$android5-u1f631-path5: "\eb40";
$android5-u1f631-path6: "\eb41";
$android5-u1f631-path7: "\eb42";
$android5-u1f631-path8: "\eb43";
$android5-u1f631-path9: "\eb44";
$android5-u1f631-path10: "\eb45";
$android5-u1f632-path1: "\eb46";
$android5-u1f632-path2: "\eb47";
$android5-u1f632-path3: "\eb48";
$android5-u1f632-path4: "\eb49";
$android5-u1f633-path1: "\eb4a";
$android5-u1f633-path2: "\eb4b";
$android5-u1f633-path3: "\eb4c";
$android5-u1f633-path4: "\eb4d";
$android5-u1f633-path5: "\eb4e";
$android5-u1f633-path6: "\eb4f";
$android5-u1f633-path7: "\eb50";
$android5-u1f633-path8: "\eb51";
$android5-u1f633-path9: "\eb52";
$android5-u1f633-path10: "\eb53";
$android5-u1f633-path11: "\eb54";
$android5-u1f633-path12: "\eb55";
$android5-u1f633-path13: "\eb56";
$android5-u1f633-path14: "\eb57";
$android5-u1f633-path15: "\eb58";
$android5-u1f633-path16: "\eb59";
$android5-u1f633-path17: "\eb5a";
$android5-u1f633-path18: "\eb5b";
$android5-u1f633-path19: "\eb5c";
$android5-u1f633-path20: "\eb5d";
$android5-u1f633-path21: "\eb5e";
$android5-u1f633-path22: "\eb5f";
$android5-u1f633-path23: "\eb60";
$android5-u1f633-path24: "\eb61";
$android5-u1f633-path25: "\eb62";
$android5-u1f633-path26: "\eb63";
$android5-u1f633-path27: "\eb64";
$android5-u1f633-path28: "\eb65";
$android5-u1f633-path29: "\eb66";
$android5-u1f633-path30: "\eb67";
$android5-u1f633-path31: "\eb68";
$android5-u1f633-path32: "\eb69";
$android5-u1f633-path33: "\eb6a";
$android5-u1f633-path34: "\eb6b";
$android5-u1f633-path35: "\eb6c";
$android5-u1f633-path36: "\eb6d";
$android5-u1f633-path37: "\eb6e";
$android5-u1f633-path38: "\eb6f";
$android5-u1f633-path39: "\eb70";
$android5-u1f633-path40: "\eb71";
$android5-u1f633-path41: "\eb72";
$android5-u1f633-path42: "\eb73";
$android5-u1f633-path43: "\eb74";
$android5-u1f633-path44: "\eb75";
$android5-u1f633-path45: "\eb76";
$android5-u1f633-path46: "\eb77";
$android5-u1f633-path47: "\eb78";
$android5-u1f633-path48: "\eb79";
$android5-u1f634-path1: "\eb7a";
$android5-u1f634-path2: "\eb7b";
$android5-u1f634-path3: "\eb7c";
$android5-u1f634-path4: "\eb7d";
$android5-u1f634-path5: "\eb7e";
$android5-u1f634-path6: "\eb7f";
$android5-u1f634-path7: "\eb80";
$android5-u1f634-path8: "\eb81";
$android5-u1f635-path1: "\eb82";
$android5-u1f635-path2: "\eb83";
$android5-u1f635-path3: "\eb84";
$android5-u1f635-path4: "\eb85";
$android5-u1f635-path5: "\eb86";
$android5-u1f635-path6: "\eb87";
$android5-u1f636-path1: "\eb88";
$android5-u1f636-path2: "\eb89";
$android5-u1f636-path3: "\eb8a";
$android5-u1f637-path1: "\eb8b";
$android5-u1f637-path2: "\eb8c";
$android5-u1f637-path3: "\eb8d";
$android5-u1f637-path4: "\eb8e";
$android5-u1f637-path5: "\eb8f";
$android5-u1f637-path6: "\eb90";
$android5-u1f637-path7: "\eb91";
$android5-u1f637-path8: "\eb92";
$android5-u1f637-path9: "\eb93";
$android5-u263a-path1: "\eb94";
$android5-u263a-path2: "\eb95";
$android5-u263a-path3: "\eb96";
$android5-u263a-path4: "\eb97";
$android7-u1f60a-path1: "\ebca";
$android7-u1f60a-path2: "\ebcd";
$android7-u1f60a-path3: "\ebce";
$android7-u1f60a-path4: "\ebcf";
$android7-u1f60a-path5: "\ebd0";
$android7-u1f60a-path6: "\ebd1";
$android7-u1f60a-path7: "\ebd2";
$android7-u1f60a-path8: "\ebd3";
$android7-u1f60a-path9: "\ebd4";
$android7-u1f60a-path10: "\ebd5";
$android7-u1f60a-path11: "\ebd6";
$android7-u1f60a-path12: "\ebd7";
$android7-u1f60a-path13: "\ebd8";
$android7-u1f60a-path14: "\ebd9";
$android7-u1f60a-path15: "\ebda";
$android7-u1f60a-path16: "\ebdb";
$android7-u1f60a-path17: "\ebdc";
$android7-u1f60a-path18: "\ebdd";
$android7-u1f60a-path19: "\ebde";
$android7-u1f60a-path20: "\ebdf";
$android7-u1f60a-path21: "\ebe0";
$android7-u1f60a-path22: "\ebe1";
$android7-u1f60a-path23: "\ebe2";
$android7-u1f60a-path24: "\ebe3";
$android7-u1f60a-path25: "\ebe4";
$android7-u1f60a-path26: "\ebe5";
$android7-u1f60a-path27: "\ebe6";
$android7-u1f60a-path28: "\ebe7";
$android7-u1f60a-path29: "\ebe8";
$android7-u1f60a-path30: "\ebe9";
$android7-u1f60a-path31: "\ebea";
$android7-u1f60a-path32: "\ebeb";
$android7-u1f60a-path33: "\ebec";
$android7-u1f60a-path34: "\ebed";
$android7-u1f60a-path35: "\ebee";
$android7-u1f60a-path36: "\ebef";
$android7-u1f60a-path37: "\ebf0";
$android7-u1f60a-path38: "\ebf1";
$android7-u1f60a-path39: "\ebf2";
$android7-u1f60a-path40: "\ebf3";
$android7-u1f60a-path41: "\ebf4";
$android7-u1f60a-path42: "\ebf5";
$android7-u1f60a-path43: "\ebf6";
$android7-u1f60a-path44: "\ebf7";
$android7-u1f60a-path45: "\ebf8";
$android7-u1f60a-path46: "\ebf9";
$android7-u1f60a-path47: "\ebfa";
$android7-u1f60a-path48: "\ebfb";
$android7-u1f60b-path1: "\eb98";
$android7-u1f60b-path2: "\ebfc";
$android7-u1f60b-path3: "\ebfd";
$android7-u1f60b-path4: "\ebfe";
$android7-u1f60b-path5: "\ebff";
$android7-u1f60b-path6: "\ec00";
$android7-u1f60c-path1: "\eb99";
$android7-u1f60c-path2: "\ec01";
$android7-u1f60c-path3: "\ec02";
$android7-u1f60c-path4: "\ec03";
$android7-u1f60c-path5: "\ec04";
$android7-u1f60c-path6: "\ec05";
$android7-u1f60c-path7: "\ec06";
$android7-u1f60d-path1: "\eb9a";
$android7-u1f60d-path2: "\ec07";
$android7-u1f60d-path3: "\ec08";
$android7-u1f60d-path4: "\ec09";
$android7-u1f60d-path5: "\ec0a";
$android7-u1f60d-path6: "\ec0b";
$android7-u1f60d-path7: "\ec0c";
$android7-u1f60d-path8: "\ec0d";
$android7-u1f60d-path9: "\ec0e";
$android7-u1f60d-path10: "\ec0f";
$android7-u1f60d-path11: "\ec10";
$android7-u1f60d-path12: "\ec11";
$android7-u1f60d-path13: "\ec12";
$android7-u1f60d-path14: "\ec13";
$android7-u1f60d-path15: "\ec14";
$android7-u1f60d-path16: "\ec15";
$android7-u1f60d-path17: "\ec16";
$android7-u1f60d-path18: "\ec17";
$android7-u1f60d-path19: "\ec18";
$android7-u1f60d-path20: "\ec19";
$android7-u1f60d-path21: "\ec1a";
$android7-u1f60d-path22: "\ec1b";
$android7-u1f60d-path23: "\ec1c";
$android7-u1f60d-path24: "\ec1d";
$android7-u1f60d-path25: "\ec1e";
$android7-u1f60d-path26: "\ec1f";
$android7-u1f60d-path27: "\ec20";
$android7-u1f60d-path28: "\ec21";
$android7-u1f60d-path29: "\ec22";
$android7-u1f60d-path30: "\ec23";
$android7-u1f60d-path31: "\ec24";
$android7-u1f60d-path32: "\ec25";
$android7-u1f60d-path33: "\ec26";
$android7-u1f60d-path34: "\ec27";
$android7-u1f60d-path35: "\ec28";
$android7-u1f60d-path36: "\ec29";
$android7-u1f60d-path37: "\ec2a";
$android7-u1f60d-path38: "\ec2b";
$android7-u1f60d-path39: "\ec2c";
$android7-u1f60d-path40: "\ec2d";
$android7-u1f60d-path41: "\ec2e";
$android7-u1f60d-path42: "\ec2f";
$android7-u1f60d-path43: "\ec30";
$android7-u1f60d-path44: "\ec31";
$android7-u1f60d-path45: "\ec32";
$android7-u1f60d-path46: "\ec33";
$android7-u1f60d-path47: "\ec34";
$android7-u1f60d-path48: "\ec35";
$android7-u1f60d-path49: "\ec36";
$android7-u1f60e-path1: "\eb9b";
$android7-u1f60e-path2: "\ec37";
$android7-u1f60e-path3: "\ec38";
$android7-u1f60e-path4: "\ec39";
$android7-u1f60e-path5: "\ec3a";
$android7-u1f60e-path6: "\ec3b";
$android7-u1f60f-path1: "\eb9c";
$android7-u1f60f-path2: "\ec3c";
$android7-u1f60f-path3: "\ec3d";
$android7-u1f60f-path4: "\ec3e";
$android7-u1f60f-path5: "\ec3f";
$android7-u1f60f-path6: "\ec40";
$android7-u1f60f-path7: "\ec41";
$android7-u1f60f-path8: "\ec42";
$android7-u1f60f-path9: "\ec43";
$android7-u1f61a-path1: "\eb9d";
$android7-u1f61a-path2: "\ec44";
$android7-u1f61a-path3: "\ec45";
$android7-u1f61a-path4: "\ec46";
$android7-u1f61a-path5: "\ec47";
$android7-u1f61a-path6: "\ec48";
$android7-u1f61a-path7: "\ec49";
$android7-u1f61a-path8: "\ec4a";
$android7-u1f61a-path9: "\ec4b";
$android7-u1f61a-path10: "\ec4c";
$android7-u1f61a-path11: "\ec4d";
$android7-u1f61a-path12: "\ec4e";
$android7-u1f61a-path13: "\ec4f";
$android7-u1f61a-path14: "\ec50";
$android7-u1f61a-path15: "\ec51";
$android7-u1f61a-path16: "\ec52";
$android7-u1f61a-path17: "\ec53";
$android7-u1f61a-path18: "\ec54";
$android7-u1f61a-path19: "\ec55";
$android7-u1f61a-path20: "\ec56";
$android7-u1f61a-path21: "\ec57";
$android7-u1f61a-path22: "\ec58";
$android7-u1f61a-path23: "\ec59";
$android7-u1f61a-path24: "\ec5a";
$android7-u1f61a-path25: "\ec5b";
$android7-u1f61a-path26: "\ec5c";
$android7-u1f61a-path27: "\ec5d";
$android7-u1f61a-path28: "\ec5e";
$android7-u1f61a-path29: "\ec5f";
$android7-u1f61a-path30: "\ec60";
$android7-u1f61a-path31: "\ec61";
$android7-u1f61a-path32: "\ec62";
$android7-u1f61a-path33: "\ec63";
$android7-u1f61a-path34: "\ec64";
$android7-u1f61a-path35: "\ec65";
$android7-u1f61a-path36: "\ec66";
$android7-u1f61a-path37: "\ec67";
$android7-u1f61a-path38: "\ec68";
$android7-u1f61a-path39: "\ec69";
$android7-u1f61a-path40: "\ec6a";
$android7-u1f61a-path41: "\ec6b";
$android7-u1f61a-path42: "\ec6c";
$android7-u1f61a-path43: "\ec6d";
$android7-u1f61a-path44: "\ec6e";
$android7-u1f61a-path45: "\ec6f";
$android7-u1f61a-path46: "\ec70";
$android7-u1f61a-path47: "\ec71";
$android7-u1f61a-path48: "\ec72";
$android7-u1f61b-path1: "\eb9e";
$android7-u1f61b-path2: "\ec73";
$android7-u1f61b-path3: "\ec74";
$android7-u1f61b-path4: "\ec75";
$android7-u1f61b-path5: "\ec76";
$android7-u1f61c-path1: "\eb9f";
$android7-u1f61c-path2: "\ec77";
$android7-u1f61c-path3: "\ec78";
$android7-u1f61c-path4: "\ec79";
$android7-u1f61c-path5: "\ec7a";
$android7-u1f61d-path1: "\eba0";
$android7-u1f61d-path2: "\ec7b";
$android7-u1f61d-path3: "\ec7c";
$android7-u1f61d-path4: "\ec7d";
$android7-u1f61d-path5: "\ec7e";
$android7-u1f61e-path1: "\eba1";
$android7-u1f61e-path2: "\ec7f";
$android7-u1f61e-path3: "\ec80";
$android7-u1f61e-path4: "\ec81";
$android7-u1f62a-path1: "\eba2";
$android7-u1f62a-path2: "\ec82";
$android7-u1f62a-path3: "\ec83";
$android7-u1f62a-path4: "\ec84";
$android7-u1f62a-path5: "\ec85";
$android7-u1f62b-path1: "\eba3";
$android7-u1f62b-path2: "\ec86";
$android7-u1f62b-path3: "\ec87";
$android7-u1f62b-path4: "\ec88";
$android7-u1f62b-path5: "\ec89";
$android7-u1f62c-path1: "\eba4";
$android7-u1f62c-path2: "\ec8a";
$android7-u1f62c-path3: "\ec8b";
$android7-u1f62c-path4: "\ec8c";
$android7-u1f62c-path5: "\ec8d";
$android7-u1f62c-path6: "\ec8e";
$android7-u1f62c-path7: "\ec8f";
$android7-u1f62c-path8: "\ec90";
$android7-u1f62c-path9: "\ec91";
$android7-u1f62c-path10: "\ec92";
$android7-u1f62c-path11: "\ec93";
$android7-u1f62d-path1: "\eba5";
$android7-u1f62d-path2: "\ec94";
$android7-u1f62d-path3: "\ec95";
$android7-u1f62d-path4: "\ec96";
$android7-u1f62d-path5: "\ec97";
$android7-u1f62d-path6: "\ec98";
$android7-u1f62d-path7: "\ec99";
$android7-u1f62d-path8: "\ec9a";
$android7-u1f62e-path1: "\eba6";
$android7-u1f62e-path2: "\ec9b";
$android7-u1f62e-path3: "\ec9c";
$android7-u1f62e-path4: "\ec9d";
$android7-u1f62f-path1: "\eba7";
$android7-u1f62f-path2: "\ec9e";
$android7-u1f62f-path3: "\ec9f";
$android7-u1f62f-path4: "\eca0";
$android7-u1f603-path1: "\ebc9";
$android7-u1f603-path2: "\eca1";
$android7-u1f603-path3: "\eca2";
$android7-u1f603-path4: "\eca3";
$android7-u1f604-path1: "\ebcb";
$android7-u1f604-path2: "\eca4";
$android7-u1f604-path3: "\eca5";
$android7-u1f604-path4: "\eca6";
$android7-u1f604-path5: "\eca7";
$android7-u1f604-path6: "\eca8";
$android7-u1f604-path7: "\eca9";
$android7-u1f604-path8: "\ecaa";
$android7-u1f604-path9: "\ecab";
$android7-u1f604-path10: "\ecac";
$android7-u1f604-path11: "\ecad";
$android7-u1f604-path12: "\ecae";
$android7-u1f604-path13: "\ecaf";
$android7-u1f604-path14: "\ecb0";
$android7-u1f604-path15: "\ecb1";
$android7-u1f604-path16: "\ecb2";
$android7-u1f604-path17: "\ecb3";
$android7-u1f604-path18: "\ecb4";
$android7-u1f604-path19: "\ecb5";
$android7-u1f604-path20: "\ecb6";
$android7-u1f604-path21: "\ecb7";
$android7-u1f604-path22: "\ecb8";
$android7-u1f604-path23: "\ecb9";
$android7-u1f604-path24: "\ecba";
$android7-u1f604-path25: "\ecbb";
$android7-u1f604-path26: "\ecbc";
$android7-u1f604-path27: "\ecbd";
$android7-u1f604-path28: "\ecbe";
$android7-u1f604-path29: "\ecbf";
$android7-u1f604-path30: "\ecc0";
$android7-u1f604-path31: "\ecc1";
$android7-u1f604-path32: "\ecc2";
$android7-u1f604-path33: "\ecc3";
$android7-u1f604-path34: "\ecc4";
$android7-u1f604-path35: "\ecc5";
$android7-u1f604-path36: "\ecc6";
$android7-u1f604-path37: "\ecc7";
$android7-u1f604-path38: "\ecc8";
$android7-u1f604-path39: "\ecc9";
$android7-u1f604-path40: "\ecca";
$android7-u1f604-path41: "\eccb";
$android7-u1f604-path42: "\eccc";
$android7-u1f604-path43: "\eccd";
$android7-u1f604-path44: "\ecce";
$android7-u1f604-path45: "\eccf";
$android7-u1f604-path46: "\ecd0";
$android7-u1f604-path47: "\ecd1";
$android7-u1f604-path48: "\ecd2";
$android7-u1f605-path1: "\eba8";
$android7-u1f605-path2: "\ecd3";
$android7-u1f605-path3: "\ecd4";
$android7-u1f605-path4: "\ecd5";
$android7-u1f605-path5: "\ecd6";
$android7-u1f606-path1: "\eba9";
$android7-u1f606-path2: "\ecd7";
$android7-u1f606-path3: "\ecd8";
$android7-u1f606-path4: "\ecd9";
$android7-u1f606-path5: "\ecda";
$android7-u1f606-path6: "\ecdb";
$android7-u1f606-path7: "\ecdc";
$android7-u1f606-path8: "\ecdd";
$android7-u1f606-path9: "\ecde";
$android7-u1f606-path10: "\ecdf";
$android7-u1f606-path11: "\ece0";
$android7-u1f606-path12: "\ece1";
$android7-u1f606-path13: "\ece2";
$android7-u1f606-path14: "\ece3";
$android7-u1f606-path15: "\ece4";
$android7-u1f606-path16: "\ece5";
$android7-u1f606-path17: "\ece6";
$android7-u1f606-path18: "\ece7";
$android7-u1f606-path19: "\ece8";
$android7-u1f606-path20: "\ece9";
$android7-u1f606-path21: "\ecea";
$android7-u1f606-path22: "\eceb";
$android7-u1f606-path23: "\ecec";
$android7-u1f606-path24: "\eced";
$android7-u1f606-path25: "\ecee";
$android7-u1f606-path26: "\ecef";
$android7-u1f606-path27: "\ecf0";
$android7-u1f606-path28: "\ecf1";
$android7-u1f606-path29: "\ecf2";
$android7-u1f606-path30: "\ecf3";
$android7-u1f606-path31: "\ecf4";
$android7-u1f606-path32: "\ecf5";
$android7-u1f606-path33: "\ecf6";
$android7-u1f606-path34: "\ecf7";
$android7-u1f606-path35: "\ecf8";
$android7-u1f606-path36: "\ecf9";
$android7-u1f606-path37: "\ecfa";
$android7-u1f606-path38: "\ecfb";
$android7-u1f606-path39: "\ecfc";
$android7-u1f606-path40: "\ecfd";
$android7-u1f606-path41: "\ecfe";
$android7-u1f606-path42: "\ecff";
$android7-u1f606-path43: "\ed00";
$android7-u1f606-path44: "\ed01";
$android7-u1f606-path45: "\ed02";
$android7-u1f606-path46: "\ed03";
$android7-u1f606-path47: "\ed04";
$android7-u1f606-path48: "\ed05";
$android7-u1f607-path1: "\ebaa";
$android7-u1f607-path2: "\ed06";
$android7-u1f607-path3: "\ed07";
$android7-u1f607-path4: "\ed08";
$android7-u1f607-path5: "\ed09";
$android7-u1f608-path1: "\ebab";
$android7-u1f608-path2: "\ed0a";
$android7-u1f608-path3: "\ed0b";
$android7-u1f608-path4: "\ed0c";
$android7-u1f608-path5: "\ed0d";
$android7-u1f608-path6: "\ed0e";
$android7-u1f608-path7: "\ed0f";
$android7-u1f608-path8: "\ed10";
$android7-u1f609-path1: "\ebac";
$android7-u1f609-path2: "\ed11";
$android7-u1f609-path3: "\ed12";
$android7-u1f609-path4: "\ed13";
$android7-u1f610-path1: "\ebad";
$android7-u1f610-path2: "\ed14";
$android7-u1f610-path3: "\ed15";
$android7-u1f610-path4: "\ed16";
$android7-u1f611-path1: "\ebae";
$android7-u1f611-path2: "\ed17";
$android7-u1f611-path3: "\ed18";
$android7-u1f611-path4: "\ed19";
$android7-u1f613-path1: "\ebaf";
$android7-u1f613-path2: "\ed1a";
$android7-u1f613-path3: "\ed1b";
$android7-u1f613-path4: "\ed1c";
$android7-u1f613-path5: "\ed1d";
$android7-u1f614-path1: "\ebb0";
$android7-u1f614-path2: "\ed1e";
$android7-u1f614-path3: "\ed1f";
$android7-u1f614-path4: "\ed20";
$android7-u1f616-path1: "\ebb1";
$android7-u1f616-path2: "\ed21";
$android7-u1f616-path3: "\ed22";
$android7-u1f616-path4: "\ed23";
$android7-u1f616-path5: "\ed24";
$android7-u1f617-path1: "\ebb2";
$android7-u1f617-path2: "\ed25";
$android7-u1f617-path3: "\ed26";
$android7-u1f617-path4: "\ed27";
$android7-u1f617-path5: "\ed28";
$android7-u1f617-path6: "\ed29";
$android7-u1f617-path7: "\ed2a";
$android7-u1f618-path1: "\ebb3";
$android7-u1f618-path2: "\ed2b";
$android7-u1f618-path3: "\ed2c";
$android7-u1f618-path4: "\ed2d";
$android7-u1f618-path5: "\ed2e";
$android7-u1f618-path6: "\ed2f";
$android7-u1f619-path1: "\ebb4";
$android7-u1f619-path2: "\ed30";
$android7-u1f619-path3: "\ed31";
$android7-u1f619-path4: "\ed32";
$android7-u1f619-path5: "\ed33";
$android7-u1f619-path6: "\ed34";
$android7-u1f619-path7: "\ed35";
$android7-u1f621-path1: "\ebb5";
$android7-u1f621-path2: "\ed36";
$android7-u1f621-path3: "\ed37";
$android7-u1f621-path4: "\ed38";
$android7-u1f622-path1: "\ebb6";
$android7-u1f622-path2: "\ed39";
$android7-u1f622-path3: "\ed3a";
$android7-u1f622-path4: "\ed3b";
$android7-u1f622-path5: "\ed3c";
$android7-u1f623-path1: "\ebb7";
$android7-u1f623-path2: "\ed3d";
$android7-u1f623-path3: "\ed3e";
$android7-u1f623-path4: "\ed3f";
$android7-u1f623-path5: "\ed40";
$android7-u1f623-path6: "\ed41";
$android7-u1f623-path7: "\ed42";
$android7-u1f623-path8: "\ed43";
$android7-u1f623-path9: "\ed44";
$android7-u1f623-path10: "\ed45";
$android7-u1f623-path11: "\ed46";
$android7-u1f623-path12: "\ed47";
$android7-u1f623-path13: "\ed48";
$android7-u1f623-path14: "\ed49";
$android7-u1f623-path15: "\ed4a";
$android7-u1f623-path16: "\ed4b";
$android7-u1f623-path17: "\ed4c";
$android7-u1f623-path18: "\ed4d";
$android7-u1f623-path19: "\ed4e";
$android7-u1f623-path20: "\ed4f";
$android7-u1f623-path21: "\ed50";
$android7-u1f623-path22: "\ed51";
$android7-u1f623-path23: "\ed52";
$android7-u1f623-path24: "\ed53";
$android7-u1f623-path25: "\ed54";
$android7-u1f623-path26: "\ed55";
$android7-u1f623-path27: "\ed56";
$android7-u1f623-path28: "\ed57";
$android7-u1f623-path29: "\ed58";
$android7-u1f623-path30: "\ed59";
$android7-u1f623-path31: "\ed5a";
$android7-u1f623-path32: "\ed5b";
$android7-u1f623-path33: "\ed5c";
$android7-u1f623-path34: "\ed5d";
$android7-u1f623-path35: "\ed5e";
$android7-u1f623-path36: "\ed5f";
$android7-u1f623-path37: "\ed60";
$android7-u1f623-path38: "\ed61";
$android7-u1f623-path39: "\ed62";
$android7-u1f623-path40: "\ed63";
$android7-u1f623-path41: "\ed64";
$android7-u1f623-path42: "\ed65";
$android7-u1f623-path43: "\ed66";
$android7-u1f623-path44: "\ed67";
$android7-u1f623-path45: "\ed68";
$android7-u1f623-path46: "\ed69";
$android7-u1f623-path47: "\ed6a";
$android7-u1f623-path48: "\ed6b";
$android7-u1f624-path1: "\ebc8";
$android7-u1f624-path2: "\ed6c";
$android7-u1f624-path3: "\ed6d";
$android7-u1f624-path4: "\ed6e";
$android7-u1f624-path5: "\ed6f";
$android7-u1f624-path6: "\ed70";
$android7-u1f624-path7: "\ed71";
$android7-u1f624-path8: "\ed72";
$android7-u1f624-path9: "\ed73";
$android7-u1f624-path10: "\ed74";
$android7-u1f624-path11: "\ed75";
$android7-u1f624-path12: "\ed76";
$android7-u1f624-path13: "\ed77";
$android7-u1f624-path14: "\ed78";
$android7-u1f624-path15: "\ed79";
$android7-u1f624-path16: "\ed7a";
$android7-u1f624-path17: "\ed7b";
$android7-u1f624-path18: "\ed7c";
$android7-u1f624-path19: "\ed7d";
$android7-u1f624-path20: "\ed7e";
$android7-u1f624-path21: "\ed7f";
$android7-u1f624-path22: "\ed80";
$android7-u1f624-path23: "\ed81";
$android7-u1f624-path24: "\ed82";
$android7-u1f624-path25: "\ed83";
$android7-u1f624-path26: "\ed84";
$android7-u1f624-path27: "\ed85";
$android7-u1f624-path28: "\ed86";
$android7-u1f624-path29: "\ed87";
$android7-u1f624-path30: "\ed88";
$android7-u1f624-path31: "\ed89";
$android7-u1f624-path32: "\ed8a";
$android7-u1f624-path33: "\ed8b";
$android7-u1f624-path34: "\ed8c";
$android7-u1f624-path35: "\ed8d";
$android7-u1f624-path36: "\ed8e";
$android7-u1f624-path37: "\ed8f";
$android7-u1f624-path38: "\ed90";
$android7-u1f624-path39: "\ed91";
$android7-u1f624-path40: "\ed92";
$android7-u1f624-path41: "\ed93";
$android7-u1f624-path42: "\ed94";
$android7-u1f624-path43: "\ed95";
$android7-u1f624-path44: "\ed96";
$android7-u1f624-path45: "\ed97";
$android7-u1f624-path46: "\ed98";
$android7-u1f624-path47: "\ed99";
$android7-u1f624-path48: "\ed9a";
$android7-u1f624-path49: "\ed9b";
$android7-u1f624-path50: "\ed9c";
$android7-u1f625-path1: "\ebcc";
$android7-u1f625-path2: "\ed9d";
$android7-u1f625-path3: "\ed9e";
$android7-u1f625-path4: "\ed9f";
$android7-u1f625-path5: "\eda0";
$android7-u1f626-path1: "\ebb8";
$android7-u1f626-path2: "\eda1";
$android7-u1f626-path3: "\eda2";
$android7-u1f626-path4: "\eda3";
$android7-u1f628-path1: "\ebb9";
$android7-u1f628-path2: "\eda4";
$android7-u1f628-path3: "\eda5";
$android7-u1f628-path4: "\eda6";
$android7-u1f628-path5: "\eda7";
$android7-u1f628-path6: "\eda8";
$android7-u1f629-path1: "\ebba";
$android7-u1f629-path2: "\eda9";
$android7-u1f629-path3: "\edaa";
$android7-u1f629-path4: "\edab";
$android7-u1f630-path1: "\ebbb";
$android7-u1f630-path2: "\edac";
$android7-u1f630-path3: "\edad";
$android7-u1f630-path4: "\edae";
$android7-u1f630-path5: "\edaf";
$android7-u1f630-path6: "\edb0";
$android7-u1f630-path7: "\edb1";
$android7-u1f631-path1: "\ebbc";
$android7-u1f631-path2: "\edb2";
$android7-u1f631-path3: "\edb3";
$android7-u1f631-path4: "\edb4";
$android7-u1f631-path5: "\edb5";
$android7-u1f631-path6: "\edb6";
$android7-u1f631-path7: "\edb7";
$android7-u1f631-path8: "\edb8";
$android7-u1f632-path1: "\ebbd";
$android7-u1f632-path2: "\edb9";
$android7-u1f632-path3: "\edba";
$android7-u1f632-path4: "\edbb";
$android7-u1f634-path1: "\ebbe";
$android7-u1f634-path2: "\edbc";
$android7-u1f634-path3: "\edbd";
$android7-u1f634-path4: "\edbe";
$android7-u1f634-path5: "\edbf";
$android7-u1f634-path6: "\edc0";
$android7-u1f634-path7: "\edc1";
$android7-u1f636-path1: "\ebbf";
$android7-u1f636-path2: "\edc2";
$android7-u1f636-path3: "\edc3";
$android7-u1f637-path1: "\ebc0";
$android7-u1f637-path2: "\edc4";
$android7-u1f637-path3: "\edc5";
$android7-u1f637-path4: "\edc6";
$android7-u1f637-path5: "\edc7";
$android7-u1f637-path6: "\edc8";
$android7-u1f637-path7: "\edc9";
$android7-u1f637-path8: "\edca";
$android7-u1f641-path1: "\ebc1";
$android7-u1f641-path2: "\edcb";
$android7-u1f641-path3: "\edcc";
$android7-u1f641-path4: "\edcd";
$android7-u1f642-path1: "\ebc2";
$android7-u1f642-path2: "\edce";
$android7-u1f642-path3: "\edcf";
$android7-u1f642-path4: "\edd0";
$android7-u1f643-path1: "\ebc3";
$android7-u1f643-path2: "\edd1";
$android7-u1f643-path3: "\edd2";
$android7-u1f643-path4: "\edd3";
$android7-u1f913-path1: "\ebc4";
$android7-u1f913-path2: "\edd4";
$android7-u1f913-path3: "\edd5";
$android7-u1f913-path4: "\edd6";
$android7-u1f913-path5: "\edd7";
$android7-u1f913-path6: "\edd8";
$android7-u1f913-path7: "\edd9";
$android7-u1f920-path1: "\ebc5";
$android7-u1f920-path2: "\edda";
$android7-u1f920-path3: "\eddb";
$android7-u1f920-path4: "\eddc";
$android7-u1f920-path5: "\eddd";
$android7-u1f920-path6: "\edde";
$android7-u1f920-path7: "\eddf";
$android7-u1f920-path8: "\ede0";
$android7-u1f920-path9: "\ede1";
$android7-u1f920-path10: "\ede2";
$android7-u1f920-path11: "\ede3";
$android7-u1f920-path12: "\ede4";
$android7-u1f920-path13: "\ede5";
$android7-u1f920-path14: "\ede6";
$android7-u1f920-path15: "\ede7";
$android7-u1f920-path16: "\ede8";
$android7-u1f920-path17: "\ede9";
$android7-u1f920-path18: "\edea";
$android7-u1f920-path19: "\edeb";
$android7-u1f920-path20: "\edec";
$android7-u1f920-path21: "\eded";
$android7-u1f927-path1: "\ebc6";
$android7-u1f927-path2: "\edee";
$android7-u1f927-path3: "\edef";
$android7-u1f927-path4: "\edf0";
$android7-u1f927-path5: "\edf1";
$android7-u1f927-path6: "\edf2";
$android7-u1f927-path7: "\edf3";
$android7-u1f927-path8: "\edf4";
$android7-u1f927-path9: "\edf5";
$android7-u1f927-path10: "\edf6";
$android7-u1f927-path11: "\edf7";
$android7-u1f927-path12: "\edf8";
$android7-u1f927-path13: "\edf9";
$android7-u1f927-path14: "\edfa";
$android7-u1f927-path15: "\edfb";
$android7-u1f927-path16: "\edfc";
$android7-u1f927-path17: "\edfd";
$android7-u1f927-path18: "\edfe";
$android7-u1f927-path19: "\edff";
$android7-u1f927-path20: "\ee00";
$android7-u1f927-path21: "\ee01";
$android7-u1f927-path22: "\ee02";
$android7-u1f927-path23: "\ee03";
$android7-u1f927-path24: "\ee04";
$android7-u1f927-path25: "\ee05";
$android7-u1f927-path26: "\ee06";
$android7-u1f927-path27: "\ee07";
$android7-u1f927-path28: "\ee08";
$android7-u1f927-path29: "\ee09";
$android7-u2639-path1: "\ebc7";
$android7-u2639-path2: "\ee0a";
$android7-u2639-path3: "\ee0b";
$android7-u2639-path4: "\ee0c";

